/* 
    Created on : 3/09/2014, 08:20:38 PM
    Author     : Mariana Lopez
*/
*
{
  margin: 0px;
  padding: 0px;
}

body
{
  margin: 0px auto;
  background-color: #190710;
}


/*contenido de la pagina*/
.contenido
{
  width: 1024px;
  height: 4000px;
  background-color: #FBEFFB;
  margin: 2px 0 0 0;
  box-shadow: 0px 0px  10px;	
}
.texto
{
  float: left;
  padding-top: 5px;
  width: 800px;
  height: 800px;

}
.menu li{
  list-style:none; 
}

.lateral
{        
  margin-top: -790px ;
  width: 250px;
  height: 100px;
  background-color: #A4A4A4;
  float: right;
  box-shadow: 15px 10px 10px;
  font-style:italic;
  font-weight:bold;
  font-size:2em;
  font-color:#ffffff;
  font-family:fantasy;   
  list-style: none;
}     

/*pie de la pagina*/
#pie
{
  width: 1024px;
  height: 60px;
  background-color: #A4A4A4;
  box-shadow: 0 0  20px;
  margin: 0 0 0 0;
  font:  15px/25px Arial, Helvetica; 
  text-decoration: none; 
  color: #E6E6E6;


}